

header h1{
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid #FFF;
}

header{
    background-color:rgb(0, 0, 0);
    
}

.menu{
    border: 2px solid #fff;
}

.link{
    color: white;
}

.link:hover{
    background-color: white;
}

.clearfix {
    float: none;
    clear: both;
}


.contenido{
    display: flex;
    justify-content: center;
    background-color: #212F3C;
    padding: 60px 0px 60px 0px;
}

.gustos{
    margin: 15px;
}

body{
    background-color: rgb(61, 61, 61);
}

.contenedor{
    text-align: center;
    padding: 20px 150px; 
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #1B2631;
}

.titulo{
    padding: 200px 0px 0px 0px;
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.descripcion{
    color: white;
    font-size: 15px;
}

